$var menu: 
$var title: 
	
<div class="span6 offset3" style="text-align:center">
<h3>about credibility.app</h3>
<p><em>"always read stories from the both sides."</em></p>
<p>
	Credibility.app is initiated to contribute a space for people to collect and read stories
	from different perspectives, create awareness among users on the <em>credibility</em> of public articles. 
</p>
<p>
	This is a special project tribute to <a href="http://www.rememberaaronsw.com">@aaronsw</a> for his contribution, inspiration to the internet and human mankind.
</p>
<p>Regards,<br><a href="http://twitter.com/alvinsj">@alvinsj</a></p>
<p style="margin-top:20px">
	<strong>Technology stack:</strong>
	<ul style="margin:0px;">
		<li><a href="http://webpy.org">webpy</a> (by <a href="http://www.rememberaaronsw.com">@aaronsw</a>)</li>
		<li><a href="http://twitter.github.com/bootstrap">twitter bootstrap</a></li>
		<li><a href="http://sqlalchemy.org/">sqlachemy</a></li>
		<li><a href="http://github.com/">github</a></li>
		<li><a href="http://heroku.com/">heroku</a></li>
	</ul>
	<br>
	<p>*and site layout is heavily inspired by <a href="https://news.ycombinator.com/">hackernews</a></p>
	<em>Thanks to open source communities, and contributors.</em>
</p>
</div>