$var menu: 
$var title: 
	
<div class="span12" >
<h5>About Credibility.news</h5>
<p><em>"read stories from the both sides."</em></p>
<p>
	Credibility.news is initiated to contribute a space for netizens to collect and read stories
	from different perspectives. It aim sto create awareness among users on rethinking/reviewing the <em>credibility</em> of various public articles and publishers. 
</p>
<p>
	This is a project specially tribute to <a href="http://en.wikipedia.org/wiki/Aaron_Swartz">@aaronsw</a>, for his contribution, inspiration to the internet and human mankind.
</p>

<p style="margin-top:20px">
	<strong>Technology stack:</strong>
	<ul>
		<li><a href="http://webpy.org">webpy</a> (by <a href="http://en.wikipedia.org/wiki/Aaron_Swartz">@aaronsw</a>)</li>
		<li><a href="http://twitter.github.com/bootstrap">twitter bootstrap</a></li>
		<li><a href="http://sqlalchemy.org/">sqlachemy</a></li>
		<li><a href="http://github.com/">github</a></li>
		<li><a href="http://github.com/dokku/dokku">dokku</a></li>
		<li><p>*site layout is inspired by <a href="https://news.ycombinator.com/">hackernews</a></p></li>
	</ul>
	<br>
	<i>Thank you open source communities, and contributors.</i>
</p>
<h5>Development</h5>
<p>Investigate credibility or counter disinformation is a difficult task. While articles are often written with mixed content from bias to opinions, it often requires additional references in order to prove their credibility.
</p>
<p>You may find other initiatives of counter disinformation as below:</p>
<ul>
	<li><a href="https://www.irex.org/resource/impact-study-citizens-ability-detect-disinformation-15-years-after-completing-news-media">Learn to Discern</a></li>
	<li><a href="https://cofacts.g0v.tw/">Cofacts</a></li>
	<li><a href="https://verificado.mx/">Verificado 2018</a></li>
	<li><a href="https://tfc-taiwan.org.tw/">Taiwan FactCheck Center</a></li>
	<li><a href="http://pesacheck.org/">PesaCheck</a></li>
	<li><a href="https://fullfact.org/">FullFact</a></li>
	<li><a href="https://meedan.com/en/check/">Meedan Check</a></li>
	<li><a href="https://wikitribune.com">WikiTribune</a></li>
	<li><a href="https://globalvoices.com">Global Voices</a></li>
</ul>
</div>