$var menu: 
$var title: 
	
<div class="span6 offset3" style="text-align:center">
<h5>About Credibility.cc</h5>
<p><em>"read stories from the both sides."</em></p>
<p>
	Credibility.cc is initiated to contribute a space for netizens to collect and read stories
	from different perspectives. It aim sto create awareness among users on rethinking/reviewing the <em>credibility</em> of various public articles and publishers. 
</p>
<p>
	This is a project specially tribute to <a href="http://en.wikipedia.org/wiki/Aaron_Swartz">@aaronsw</a>, for his contribution, inspiration to the internet and human mankind.
</p>
<p style="margin-top:20px">
	<strong>Technology stack:</strong>
	<ul style="margin:0px;">
		<li><a href="http://webpy.org">webpy</a> (by <a href="http://en.wikipedia.org/wiki/Aaron_Swartz">@aaronsw</a>)</li>
		<li><a href="http://twitter.github.com/bootstrap">twitter bootstrap</a></li>
		<li><a href="http://sqlalchemy.org/">sqlachemy</a></li>
		<li><a href="http://github.com/">github</a></li>
		<li><a href="http://heroku.com/">heroku</a></li>
		<li><p>*site layout is inspired by <a href="https://news.ycombinator.com/">hackernews</a></p></li>
	</ul>
	<br>
	
	<i>Thank you open source communities, and contributors.</i>
</p>
</div>