$var username: alvinsj
$var menu: 
$var title: 
	

<div class="span6 offset3" style="text-align:center">
	<h5>contact</h5>
	<p><strong>feedback? feature request?</strong></p>
	<p>
		ping me at <a href="http://twitter.com/alvinsj">@alvinsj</a><br>
		or <a href="mailto:email.to.alvin@gmail.com">email.to.alvin@gmail.com</a>
	</p>
	<p>
		<strong>want to contribute?</strong>
	</p>
	<p>
		project is open sourced on <a href="http://github.com/alvinsj/credibility">github.com/alvinsj/credibility</a> 
	</p>
</div>