$var menu: 
$var title: 
	
<style>
li{
	margin-bottom:10px;
}

</style>
<div class="span12">
<h5>FAQ (Frequently Asked Questions):</h5>
<ol>
	<li>
		<div>Why read stories from the both sides?</div>
		<div>Articles are written by authors, there are sometimes biased, sometimes opinionated. Think again before you decide who is right.</div>
	</li>
	<li>
		<div>Is this website open sourced?</div>
		<div>Yes, the git repo is hosted on <a href="http://github.com/alvinsj/credibility">github.com/alvinsj/credibility</a> on github.</div>
	</li>
</ol>
</div>