$var menu: 
$var title: 
	
<style>
li{
	margin-bottom:10px;
}

</style>
<div class="span12">
<h5>FAQ (Frequently Asked Questions):</h5>
<ol>
	<li>
		<div><i>What is credibility? Why do we need to read stories from all sides?</i></div>
		<div>This is an information overloaded age. Articles and news are written by authors.   Aside from reporting the facts, sometimes further analyses by the authors can be biased and opinionated. Think again about the information you read to understand better.</div>
	</li>
	<li>
		<div><i>How will I know whether an article/news is fact-based/left/right-sided?</i></div>
		<div>No matter what you read, be skeptical of what you are reading. Fact-based news can be quantitative/official reports. Left/right can be mostly differentiated by politics left/right wing, otherwise it doesn't matter(just choose one side to differentiate some two-sided stories)</div>
	</li>
	<p>
		<code>Send <a href="/contact">me</a> another question if you have one.</code>
	</p>
</ol>
</div>