$def with (form, id, link)
$var metatitle: $link.title 
$var menu: 
$var title: <a href="/topic/$link.topic_id/upvote"><i class="icon-arrow-up"></i></a><a href="/topic/$link.topic_id">$link.topic.hashtag</a>
<!-- base stories -->


<div class="span12" >
	<div style="margin:5px">	

		<div class="link" style="clear:both">
				<a href="/link/$link.id/view" style="color:black">$link.title</a> <em class="info">($short(link.url))</em>
			<div class="info">
				<small style="color:gray">
					<a href="/link/$link.id/upvote"><i class="icon-arrow-up"></i></a> $link.points votes | added by $link.user.name $pretty_date(link.created_at) | $link.comments_count comments, $link.views views
				</small>
			</div>
		</div>
		<hr>
		$if hasattr(session, 'user'):
			<form method="post">
				$:form.comment.render()
				<div>
				<input type="submit" value="comment"/>
				</div>
			</form>	
		
		
		<h5>Comments</h5>
		<small><em>Login and add your comment here.</em></small>	
		<ul>
			$for c in link.comments
				<li>
				<div class="comment" style="clear:both">
					<div class="info">
						<a href="/comment/$c.id/upvote"><i class="icon-arrow-up"></i></a>
						<small style="color:gray">
							$c.user.name $pretty_date(c.created_at) | <a name="c$c.id" href="/link/$link.id/#c$c.id">link</a>
						</small>
					</div>
					<p>$c.content</p>
					
				</div>
				</li>
		</ul>
	</div>
</div>

