$def with (id)
$var username: alvinsj
$var menu: 
$var title: <a href="/topic/$id">#topic</a>
<!-- base stories -->
<div class="span12" >
	<div style="margin:5px">	

		<div class="link" style="clear:both">
			<i class="icon-arrow-up"></i>
				<a href="http://one.story.com" style="color:black">Story one</a> <em>(one.story.com)</em>
			<div class="info">
				<small style="color:gray">
					136 points by alvinsj 8 days ago | 1 comments
				</small>
			</div>
		</div>
		<hr>
		<form action="" method="post">
			<textarea class="span4" name="comment"></textarea>
			<div>
			<input type="submit" value="comment"/>
			</div>
		</form>	
		
		<h5>Comments</h5>
		<ul>
			<li>
			<div class="comment" style="clear:both">
				<div class="info">
					<i class="icon-arrow-up"></i>
					<small style="color:gray">
						alvinsj 8 days ago | <a name="comment2" href="/link/1#comment2">link</a>
					</small>
				</div>
				<p>some comment on this link</p>
				
			</div>
			</li>

		</ul>
	</div>
</div>

