body{
	font-family:Verdana, Arial, sans-serif;
	font-size: 10pt;
}
label{
	text-align:right;
}
ul{
	list-style:none;
}
header .container{
	background-color: #e0e0e0;
	margin-top: 10px;
}
header .container .row{
	padding:5px;
}
header a strong, 
header strong a:link{
	color:#333;
}
header strong a:visited{
	color:#000;
}
header.header 
>.container 
>.row{
	margin-left: 0px;
}
footer .container{
	border-top:1px solid #c0c0c0;
	clear:both;
	padding-top: 10px;
}
.logo{
	padding:5px;
	border:1px solid white;
	font-weight:bolder;
}
.column{
	padding-bottom: 20px;
}
.column-header{
	border-bottom: 2px solid #c0c0c0;
	padding-top:20px;
}
.topic{
	padding:10px;
}
.topic > a{
	display: block;
	margin-bottom: 0px;
	font-size: 11pt;
}
.category{
	margin-top: 10px;
	margin-bottom: 5px;
}
.link{
	margin-top: 20px;
	margin-bottom: 5px;
}
.link > a{
	font-size: 11pt;
}
.navbar-inner, 
.navbar .btn-navbar{
	background-color: transparent;
	background-image: none;
	border: none;
	box-shadow: none;
}
.sidebar{
		margin-top:0px;
}

strong.wrong{
	margin-left: 10px;
	font-size:10pt;
	color:red;
	font-weight: normal;	
}
em.info{
	margin-top:10px;
	font-size: smaller;
}
div.info
>small{
	line-height: 13px;
}
section.category {
	margin-bottom:30px;
	margin-top:0px;
}
div.categories{
		padding-top: 10px;
}
.categories .title{
	font-size: 17.5px;
	font-weight: bolder;
	margin-bottom: 10px;
}
input#menu-collapsed{
	display:none;
}
.menu-content{
	margin-top:10px;
}

@media (max-width: 767px){
	/* responsive header */
	body, 
	header.header 
	> .container{
		padding:0px;
		margin:0px;
	}
	body 
	> .container{
		padding: 10px;
	}
	header.header 
	>.container 
	>.row{
		padding: 10px;
	}
	header.header strong, 
	header.header .logo{
		font-size: 16px;
	}

	/* collapse menu */
	.sidebar{
		padding-bottom:0;
	}
	div.categories{
		background-color: #e0e0e0;
		padding: 10px;
	}
	.menu #menu-collapsed:checked 
	~ .menu-content {
	  display:inherit;
	}
	.menu #menu-collapsed:checked 
	~ .menu-switch > .rise {
	  display: block;
	}
	.menu #menu-collapsed:checked 
	~ .menu-switch > .set {
	  display: none;
	}
	.menu #menu-collapsed 
	~ .menu-switch > .rise {
	  display: none;
	  padding-left:20px;
	  cursor: pointer;
	}
	.menu #menu-collapsed 
	~ .menu-switch > .set {
	  display: block;
	  padding-left:20;
	  cursor: pointer;
	}
	.menu #menu-collapsed 
	~ .menu-content {
		display:none;
	}
	.categories .title{
		display:inline;
	}
}




