$def with (tags, topics)
$var menu: <a href="/topic/new">submit topic</a>
$var title: 

<div class="span3 column">
	<div style="margin-top:10px">
    <h5>Tags</h5>
		<ul class="nav nav-list">
			$for tag in tags:
				<li>
				$if len(tag.children) > 0:
					<a href="/tagged/$tag.code">
						<i class="icon-chevron-right"></i> $tag.name
					</a>
					<ul>
					$for child in tag.children:
						<li>
							<a href="/tagged/$child.code">
								<i class="icon-chevron-right"></i> $child.name
							</a>
						</li>
					</ul>
				$elif (tag.parent is None):
					<a href="/tagged/$tag.code">
						<i class="icon-chevron-right"></i> $tag.name
					</a>
			</li>
	  </ul>
  </div>
  <div style="clear:both"></div>
</div>

<!-- base stories -->
<div class="span9 column" >
	<div style="margin-top:10px">	
		<em class="pull-right">Click a topic to start reading.</em>
		$for key, tagged in topics.items():
			$if (tagged is None) or (len(tagged) == 0):
				$continue
			$else:
				<section class="category">
					<h4>$key.name</h4>
					<ol>
						$for topic in tagged:	
							<li>
								<div class="topic" style="clear:both">
								
									<a href="/topic/$topic.id">$topic.title</a> <em class="info">$topic.hashtag</em> 
									<div class="info">
										<small style="color:gray">
											 <a href="/topic/$topic.id/upvote"><i class="icon-arrow-up"></i></a> $topic.votes votes | added by $topic.user.name $pretty_date(topic.created_at) | $topic.story_count stories, $topic.views views
										</small>
									</div>
								</div>	
							</li>
					</ol>
				</section>
			<div><a href="/tagged/$key.code">..more on $key.name</a></div>
	</div>
</div>

