$def with (topics)
$var menu: <a href="/topic/new">submit</a>
$var title: 
<!-- base stories -->
<div class="span12 column" >
	<div style="margin:5px">	
		<ol>
		$for t in topics:
			<li>
			<div class="link" style="clear:both">
				<a href="/topic/$t.id/upvote"><i class="icon-arrow-up"></i></a>
					<a href="/topic/$t.id" style="color:black">$t.title</a> <em>$t.hashtag</em>
				<div class="info">
					<small style="color:gray">
						 $t.points points by $t.user.name $t.created_at | $t.story_count links
					</small>
				</div>
			</div>	
			</li>
		
		</ol>
		
	</div>
</div>

