$def with (tags, topics, latest_topics, latest_articles)
$var menu: <a class="hidden-phone" href="/topic/new">submit topic</a>
$var title: 
$code
	count = 0

<div class="row">
	<em class="pull-right hidden-phone">Click a topic to start reading.</em>
	<a class="visible-phone" href="/topic/new">submit topic</a>
</div>
<div class="span3 column sidebar">
	<div class="categories menu">
		<span class="title">Categories</span>
			<input type="checkbox" id="menu-collapsed" name="menu-collapsed"/>
			<span class="pull-right menu-switch visible-phone">
				<label for="menu-collapsed" class="rise"><i class="icon-chevron-up"></i></label>
				<label for="menu-collapsed" class="set"><i class="icon-chevron-down"></i></label>
		</span>
		<div class="menu-content">
			<ul class="nav nav-list">
				<li>
					<a href="/latest">
						<i class="icon-chevron-right"></i> Latest Topics
					</a>
				</li?
				$for tag in tags:
					<li>
					$if len(tag.children) > 0:
						<a href="/tagged/$tag.code">
							<i class="icon-chevron-right"></i> $tag.name
						</a>
						<ul class="nav nav-list">
						$for child in tag.children:
							<li>
								<a href="/tagged/$child.code">
									<i class="icon-chevron-right"></i> $child.name
								</a>
							</li>
						</ul>
					$elif (tag.parent is None):
						<a href="/tagged/$tag.code">
							<i class="icon-chevron-right"></i> $tag.name
						</a>
				</li>
		  </ul>
		</div>
	</div>  
</div>

<div class="span9 column topics" >
	<div>	
		<div class="row">
			<section class="category span4">
				<h4>Latest Topics</h4>
		    <ol>
					$for topic in latest_topics:	
						<li>
							<div class="topic" style="clear:both">						
								<a href="/topic/$topic.id">$topic.title</a>
								<em class="info">$topic.hashtag</em>&nbsp;
								<small>($topic.votes<i class="icon-star-empty"></i>)</small>
								<div class="info">
									<small style="color:gray">
										 <em>via $topic.user.name $pretty_date(topic.created_at) | $topic.story_count stories, $topic.views views</em>
									</small>
								</div>
							</div>	
						</li>
				</ol>
				<div><a href="/latest">..more on Latest Topics</a></div>
			</section>
			<section class="category span4">
				<h4>Latest Articles</h4>
		    <ol>
					$for article in latest_articles:	
						<li>
							<article class="topic" style="clear:both">		
								<a href="/link/$article.id">$article.title</a>
								<em class="info">in <a href="/topic/$article.topic.id">$article.topic.title</a></em>&nbsp;
								<small>($article.votes<i class="icon-star-empty"></i>)</small>
								<div class="info">
									<small style="color:gray">
										 <em>via $article.user.name $pretty_date(article.created_at) | $article.views views</em>
									</small>
								</div>
							</article>	
						</li>
				</ol>
			</section>
		</div>
		$for key, tagged in topics.items():
			$if (tagged is None) or (len(tagged) == 0):
				$continue
			$else:
				$if count%2 == 0:
					<div class="row">

				<section class="category span4">
					<h4>$key.name</h4>
					<ol>
						$for topic in tagged:	
							<li>
								<div class="topic" style="clear:both">
									<a href="/topic/$topic.id">$topic.title</a><em class="info">$topic.hashtag</em> <small>($topic.votes<i class="icon-star-empty"></i>)</small>
									<div class="info">
										<small style="color:gray">
											<em>
											 via $topic.user.name $pretty_date(topic.created_at) | $topic.story_count stories, $topic.views views
											</em>
										</small>
									</div>
								</div>	
							</li>
					</ol>
					<div><a href="/tagged/$key.code">..more on $key.name</a></div>
				</section>
				$if count%2 == 1:
					</div>
				$code
					count+=1
	</div>
</div>

