$def with (content)

<html ng-app='app'>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="title" content="Credibility.cc - $content.get("metatitle","Read both side stories.")" />
		<meta name="description" content="Read and contribute both side stories of $content.get("metadesc","various topics.")" />
		<meta name="mobile-web-app-capable" content="yes">
		<link rel="image_src" href="http://credibility.cc/static/52.png" />
		
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">	
		<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" charset="utf-8"/>

		<link rel="apple-touch-icon" href="/static/touch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/static/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/static/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/touch-icon-ipad-retina.png">


		
		<title>Credibility.cc - $content.get("metatitle","Read both side stories.")</title>
	</head>
<body>
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="pull-left">
					<span class="logo">C</span> <a href="/" ><strong>Credibility</strong></a> 
					$if content.menu: 
						$:content.menu 
				</div>
				
					$if content.title: 
						$:content.title
				
				<div class="pull-right">
					<div>
					$if hasattr(session, 'user'):
						<a href="/user/$session.user.id"><em>hello $session.user.name</em>.</a> <a href="/logout">logout</a>
					$else:
						<a href="/user/login">login</a> or 
						<a href="/user/register">register</a>
						<a href="/feed"><img src="/static/feed-icon-small.png" alt="RSS Feed" border="0" /></a>
		    	</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container">
		<div class="row">
			$:content
		</div>
	</div>

	<footer class="footer">		
		<div class="container">
			<div class="row">
			
				<div class="span12" style="text-align:center">
					
					<a href="/about">about</a> | 
					<a href="/faq">faq</a> | 
					<a href="/contact">contact</a> | 
					<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/80x15.png" /></a><br/>
					<small><em><a href="http://github.com/alvinsj/credibility">open sourced</a>. tribute to <a href="http://en.wikipedia.org/wiki/Aaron_Swartz">@aaronsw</a>.</em></small>
					
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
