header .container{
	background-color: #e0e0e0;
	margin-top: 10px;
}
header .container .row{
	padding:5px;
}

footer .container{
	border-top:1px solid #c0c0c0;
	clear:both;
	padding-top: 10px;
}

strong.wrong{
	margin-left: 10px;
	font-size:10pt;
	color:red;
	font-weight: normal;	
}

body{
	font-family:Verdana, Arial, sans-serif;
	font-size: 10pt;
}

label{
	text-align:right;
}
ul{
	list-style:none;
}
input{
	font-size:10pt;
}
em.info{
	font-size: smaller;
}

a, a:link{
	color:#444;
	font-weight: bold;
}

a:visited{
	color:#444;
}

.logo{
	padding:5px;
	border:1px solid white;
	font-weight:bolder;
}

.column{
	padding-bottom: 20px;
}

.column-header{
	border-bottom: 2px solid #c0c0c0;
	padding-top:20px;
}

div.topic>a, div.topic a:link, div.topic a:visited{
	font-size: 14px;
	line-height: 20px;
}

.link{
	margin-top: 20px;
	margin-bottom: 5px;
}

.link a, .link a:link{
	color:#828282;
}

.link a:visited{
	color:#444;
}