$def with (id)
$var username: alvinsj
$var menu: 
$var title: <a href="/topic/id">#topic</a>

<!-- base stories -->
<div class="span6 column" >
	<div style="margin:5px">
		<div class="column-header">
			<strong>Base stories</strong>
			<div>
				<p class="pull-left"><em>33 story links</em></p>
				<a class="pull-right" href="/topic/$id/base/new">submit</a>
			</div>	
			<div style="clear:both"></div>
		</div>	
		<ol>
			<li>
				<div class="link" style="clear:both">
					<a href="/link/1/upvote"><i class="icon-arrow-up"></i></a>
					<a href="http://one.basestory.com" style="color:gray">Base Story One</a> <em>(one.basestory.com)</em>
					<div class="info">
						<small style="pull-right">
							36 points by alvinsj 8 days ago | <a href="/link/$id">123 comments</a>
						</small>
					</div>
				</div>
			</li>	
		</ol>
	</div>
</div>
<!-- alternate stories -->
<div class="span6 column" style="background-color:#f1f1f1">
	<div style="margin:5px;">
		<div class="column-header">
			<strong>Alternate stories</strong>
			<div >
					<p class="pull-left"><em>23 story links</em></p>
					<a class="pull-right" href="/topic/$id/alt/new">submit</a>
			</div>
			<div style="clear:both"></div>
		</div>
		<ol>
			<li>
				<div class="link" style="clear:both">
					<a href="/link/2/upvote"><i class="icon-arrow-up"></i></a>
					<a href="http://two.basestory.com" style="color:gray">Alternate Story Two</a> <em>(two.basestory.com)</em>
					<div class="info">
						<small style="pull-right">
							36 points by alvinsj 8 days ago | <a href="/link/$id">123 comments</a>
						</small>
					</div>
				</div>
			</li>	
		</ol>
	</div>
</div>
