$def with (id, topic)
$var metatitle: $topic.title ($topic.hashtag)
$var metadesc: $topic.title
$var menu: 
$var title: 


<div class="span12">
	<h2>$topic.title</h2><a href="/topic/$topic.id">$topic.hashtag</a>  $topic.votes<a href="/topic/$topic.id/upvote"><i class="icon-star-empty"></i></a></small>
	<br>
</div>
<div class="span12">&nbsp;</div>
<!-- base stories -->
<div class="span4 column" style="background-color:aliceblue">
	<div style="margin:5px">
		<div class="column-header">
			<strong>One side Stories</strong>
			<div>
				<p class="pull-left"><em>$len(topic.left_stories) story links</em></p>
				<a class="pull-right" href="/topic/$id/left/new">submit</a>
			</div>	
			<div style="clear:both"></div>
		</div>	
		<ol>
			$for s in topic.left_stories:
				<li>
					<article class="link" style="clear:both">
						<a href="/link/$s.id/view">$s.title</a><br/><em class="info"> ($short(s.url)) - via $s.user.name $pretty_date(s.created_at)</em>
						<div class="info">
							<small style="pull-right">
								<a href="/link/$s.id/upvote"><i class="icon-arrow-up"></i></a> $s.votes <i class="icon-star-empty"></i> | 
								<a href="/link/$s.id"> $s.comments_count comments</a>, $s.views views
							</small>
						</div>
					</article>
				</li>	
		</ol>
		$if len(topic.left_stories) == 0:
			<div><em>No story submitted yet. <a href="/topic/$id/left/new">Submit one</a></em></div>
	</div>
</div>
<div class="span4 column">
  <div style="margin:5px;">
    <div class="column-header">
      <strong>Fact-based News</strong>
      <div>
        <p class="pull-left"><em>$len(topic.fact_stories) story links</em></p>
        <a class="pull-right" href="/topic/$id/fact/new">submit</a>
      </div>
      <div style="clear:both"></div>
    </div>
    <ol>
			$for s in topic.fact_stories:
				<li>
					<div class="link" style="clear:both">
						<a href="/link/$s.id/view">$s.title</a><br/><em class="info"> ($short(s.url)) - via $s.user.name $pretty_date(s.created_at)</em>
						<div class="info">
							<small style="pull-right">
								<a href="/link/$s.id/upvote"><i class="icon-arrow-up"></i></a> $s.votes <i class="icon-star-empty"></i> | 
								<a href="/link/$s.id"> $s.comments_count comments</a>, $s.views views
							</small>
						</div>
					</div>
				</li>	
		</ol>
		$if len(topic.fact_stories) == 0:
			<div><em>No story submitted yet. <a href="/topic/$id/fact/new">Submit one</a></em></div>
  </div>
</div>
<!-- alternate stories -->
<div class="span4 column" style="background-color:whitesmoke">
	<div style="margin:5px;">
		<div class="column-header">
			<strong>One side Stories</strong>
			<div >
					<p class="pull-left"><em>$len(topic.right_stories) story links</em></p>
					<a class="pull-right" href="/topic/$id/right/new">submit</a>
			</div>
			<div style="clear:both"></div>
		</div>
		<ol>
			$for s in topic.right_stories:
				<li>
					<div class="link" style="clear:both">
						<a href="/link/$s.id/view">$s.title</a><br/><em class="info">($short(s.url)) - via $s.user.name $pretty_date(s.created_at)</em>
						<div class="info">
							<small style="pull-right">
								<a href="/link/$s.id/upvote"><i class="icon-arrow-up"></i></a> $s.votes <i class="icon-star-empty"></i> | <a class="link" href="/link/$s.id">$s.comments_count comments</a>, $s.views views
							</small>
						</div>
					</div>
				</li>
			</ol>
			$if len(topic.right_stories) == 0:
				<div><em>No story submitted yet. <a href="/topic/$id/right/new">Submit one</a></em></div>
				
	</div>
</div>
